@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 375px;
  padding: 20px 15px 0;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 992px) {
  .header {
    width: 1157px;
    padding-right: 30px;
  }
}

.open-menu--button {
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .open-menu--button {
    display: none;
  }
}

.menu-icon {
  width: 30px;
  height: 18px;
}

@media screen and (max-width: 1199px) {
  .navbar {
    display: none;
  }
}

/* Студія */

.nav-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: block;
  }
}

.nav-item:not(:last-child) {
  margin-right: 33px;
}

.nav-link {
  color: #000;
  text-align: right;
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: color 0.3s linear;
}

.nav-link:hover {
  color: #ff6464;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: tomato;
  width: 375px;
  height: 100vh;
  transform: translate(0);
  transition: transform 350ms linear;
  padding: 20px 30px;
}

.mobile-menu.is-hidden {
  transform: translate(100%);
}

.close-button {
  display: block;
  width: 30px;
  height: 18px;
  margin-left: 280px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.close-menu-icon {
  width: 30px;
  height: 18px;
}
.mobile-nav-item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #212121;
}

/* Значимість цих проблем настільки очевидна, що реалізація планових завдань. */
/* Значимість цих проблем настільки очевидна, що реалізація планових завдань. */
/* Так само консультація з широким активом значною мірою зумовлює. */
