* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 375px;
  padding: 20px 15px 0;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 992px) {
  .header {
    width: 1157px;
    padding-right: 30px;
  }
}

.open-menu--button {
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .open-menu--button {
    display: none;
  }
}

.menu-icon {
  width: 30px;
  height: 18px;
}

@media screen and (max-width: 1199px) {
  .navbar {
    display: none;
  }
}

.nav-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: block;
  }
}

.nav-item:not(:last-child) {
  margin-right: 33px;
}

.nav-link {
  color: #000;
  text-align: right;
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: color 0.3s linear;
}

.nav-link:hover {
  color: #ff6464;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: tomato;
  width: 70vw;
  height: 100vh;
  padding: 20px 30px;
}

.close-menu-icon {
  width: 30px;
  height: 18px;
}
@media screen and (min-width: 375px) {
  .close-menu-icon {
    padding-right: 65vw;
  }
}