.r {
  transform: skew() translate() rotate() scale();

  /* Тривалість анімації ,властивість(transform,opacity,backgroundColor),   функція часу =  що буде відбуватись з елементом під час тривалості анімації*/
  /* transition-property: transform;

  transition-duration: 0s;

  transition-timing-function: easy; */
  /* TRANSITION-PROPERTY = обовʼязкова властивість без якої нічого працювати не буде */
  transition: transform 250ms;
}

/* margin */
/* padding */
/* border */

/* CSS-перехід = це перехід елементу з точки А у точку В */

/* @keyframes(CSS - анімація) =  це перехід елементу в безліч кількість точок ( 0%,1%,2%,3% 5%, 30%, 50%,75% 100%) */

/* АНІМАЦІЯ НЕ МАЄ БУТИ БРОСКОЮ, АНІМАЦІЯ МАЄ БУТИ ФОНОВОЮ та ДЕКОРАТИВНОЮ */

/* ШАБЛОН ДЛЯ ВИКОРИСТАННЯ */

/* @keyframes імʼя анімації{

} */

@keyframes bounce {
  /* from = 0% = початок = ВІД */
  from {
    transform: translate(0);
  }
  /* to = 100% = кінець = ДО */
  to {
    transform: translate(50%);
  }
}

@keyframes bounce {
  /* from = 0% = початок = ВІД */
  0% {
    transform: translate(0);
  }
  /* to = 100% = кінець = ДО */
  100% {
    transform: translate(50%);
  }
}

.animation-block {
  display: grid;
  width: 200px;
  height: 200px;
  background-color: cyan;
  /* Властивість яка дає змогу використати @keyframes(CSS - анімація) */
  /* animation-name: назва анімації(назва @keyframes) */
  /* animation-duration: тривалість анімації(як довго буде тривати анімація?) (одиниці вимірювання s, ms) */
  /* animation-timing-function() як будуть розрахочвуватись проміжні стани*/
  /* animation-delay  Затримка перед виконанням*/
  /* animation-iteration-count:  кількість повторень анімації (0.5, 5, infinite = нескінченно)*/
  /*animation-direction: чи має анімація працювати в зворотньому напрямку (використовувати зазвичай alternate) */
  /* animation-fill-mode: які стилі мають доєднатись до початку анімації та після неї */

  /* animation-name: changeWidth;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both; */

  animation: changeWidth 5s infinite alternate;
}

/* position:absolute */

/* top
left

right bottom*/

/* Назва змістовна
Маленькі літери тільки англійського алфавіту
Цифри(0-9)
підкреслення (_)
дефіси(-)
Назва не може починатись з цифри чи двох дефісів
*/

/* CamelCase = перше слово пишеться з малої літери а усі інші з великої */

@keyframes changeWidth {
  /* 0% = початок */
  0% {
    width: 200px;
  }
  5% {
    width: 300px;
  }
  10% {
    width: 400px;
  }
  30% {
    width: 30px;
  }
  50% {
    width: 699px;
  }
  75% {
    width: 100px;
  }
  90% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}
