* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* red"></div>
    <div class="box yellow"></div>
    <div class="box grey"></div> */

.box {
  width: 200px;
  height: 200px;
  z-index: 1;
}

.red {
  background-color: red;
  position: absolute;

  z-index: 2;

  top: 30px;
  left: 30px;
}

.yellow {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: yellow;
}

.grey {
  background-color: grey;

  /* relative -  працює як магніт як і ,будь який,інший батьківський позішен */
  position: sticky;
  top: 70%;
  left: 70%;

  overflow: hidden;
}

.black {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30px, 30px);
  /* bottom: -50px;
  left: -50px; */
  width: 100px;
  height: 100px;
  background-color: black;
}

.button {
  position: fixed;
  width: 100px;
  height: 100px;
  right: 30px;
  bottom: 50px;
  background-color: red;
  border-radius: 50%;

  opacity: 0.7;
  /* visibility: visible; */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: green;
}

body {
  /* height: 100000px; */
}

.ul {
  display: flex;
  justify-content: center;
}

.blackbox {
  background-color: black;
  width: 200px;
  height: 200px;
}

.box {
  position: relative;
}

.p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  color: white;
  background-color: red;
}
