* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Повторення */
/* Розбір дз */
/* Дізнатись як центрувати позиціоновані елементи */
/* Відносне позиціонування.Використання. */
/* Властивість overfow */
/* Кахут */
/* Будем подивитись😂 (Приклади або практика) */

.relative {
  width: 500px;
  height: 500px;
  /* position relative = магніт(холодильник для магнітиків) */
  position: absolute;
  /* Transform:translate дозволяє центрувати позиціорновані елементи */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  /* Дозволяє приховати переповнюючий контент */
  overflow: hidden;

  background-color: salmon;
}

.black {
  width: 200px;
  height: 200px;
  background-color: black;
}

.absolute {
  width: 300px;
  height: 300px;
  background-color: aqua;
  position: absolute;
  top: -20%;
  left: -20%;
}

/* якщо у батьківського елементу є значення position:окреме від static то всі дитячі елементи які будуть мати position: окремий від static будуть липнути до батьківського елементу */

.p {
  width: 100px;
  height: 100px;
  /* Щоб зʼявився скрол треба обмеження по висоті */
  overflow: scroll;
  /* значення за замовчуванням - дозволяє показати переповнюючий контент */
  overflow: visible;

  overflow: auto;
}

/* Будем подивитись😂 (Приклади або практика) */
