* {
  margin: 0;
  padding: 0;
}
.img {
  width: 100px;
}

.active {
  background-color: blue;
}

.minus {
  color: yellow;
}

.hero-heading {
  /* Ефективні рішення для вашого бізнесу */

  width: 696px;
  height: 120px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: blue;
}

.contact-link {
  position: absolute;
  width: 45px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}
