* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  /* justify-content: center;
  align-content: center; */

  /* row-gap: 100px;
  column-gap: 50px; */

  /* gap: 30px; */

  height: 100vh;
}

.list-item {
  flex-basis: 200px;
  width: 200px;
  height: 200px;
  background-color: green;
}

.red {
  background-color: red;
  /* order: 4;

  flex-shrink: 1;
  flex-grow: 1; */
}

.green {
  background-color: green;
  /* order: 3;
  flex-shrink: 6;
  flex-grow: 1;
  align-self: flex-end; */
}

.yellow {
  background-color: yellow;
  /* order: 2;
  flex-shrink: 3;
  flex-grow: 10;
  align-self: center; */
}

.brown {
  background-color: brown;
  /* order: 1;
  flex-shrink: 4;
  flex-grow: 5; */
}

.grid-list {
  height: 100vh;
  display: grid;
  /* align-content: center; */
  justify-content: center;

  grid-template-columns: repeat(2, 420px);
  grid-template-rows: repeat(3, 516px);

  /* row-gap: 130px;
  column-gap: 60px; */

  gap: 130px 60px;
}
