* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.list-item {
  flex-basis: 200px;
  width: 200px;
  height: 200px;
  background-color: green;
}

.red {
  background-color: red;
  order: 4;

  flex-shrink: 1;
  flex-grow: 1;
}

.green {
  background-color: green;
  order: 3;
  flex-shrink: 6;
  flex-grow: 1;
  align-self: flex-end;
}

.yellow {
  background-color: yellow;
  order: 2;
  flex-shrink: 3;
  flex-grow: 10;
  align-self: center;
}

.brown {
  background-color: brown;
  order: 1;
  flex-shrink: 4;
  flex-grow: 5;
}

.grid-list {
  /* display: grid;

  grid-template-columns: 300px 300px 300px 300px;

  grid-template-rows: 300px 300px 300px 300px;

  row-gap: 20px;
  column-gap: 30px;

  gap: 32px; */
}
