* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #757575;
}

#p {
  color: yellow !important;
}

.text {
  background-color: green;
  color: red;
}

.text {
  color: blue;
}

#p {
  color: white;
}
/* 
.list > li {
  background-color: green;
} */

.list1 {
  background-color: yellow;
  color: black;
}

#p {
  border: inherit;
}

.b {
  color: black;
  text-decoration: none;
}

.b:hover {
  font-size: 100px;
  color: red;
}
