// Що таке плейсхолдер? - Шаблон який ми можемо використати для того щоб винести код який повторюється

// щоб утворити плейсхолдер нам достатньо 3.5 кроків:
// 1)% - обовʼязково на початку змінної має буть %
// 2)Одразу пілся $ має бути назва плейсхолдерe(латинськими малими літерами)
// 2.1) Пілся назви ми маємо поставити {}
// 3) У фігурних дужках  прописати стилі які повторюються та ми бажаємо вписати їх в шаблон щоб в майбутньому використовувати шаблон а не переписувати ці строки ще раз

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%main-text {
  color: $main-text;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

%buttons {
  width: 216px;
  height: 50px;

  border-radius: 4px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  @include button-text(#fff, 700, 30px, 0.96px);
}
