// vars - variables = змінні

:root {
  --color: brown;
  --main-color: aqua;
  --black: black;
}

$second-color: red;
$margin: 30px;
// змінні які ми утворюєму у SASS не компілюються а одразу повертають на своє місце значення
// Область бачення = {}
