// vars - variables = змінні

// root - то CSS версія
:root {
  --color: brown;
  --main-color: aqua;
  --black: black;
}

// SCSS версія
// щоб утворити змінну нам достатньо 3.5 кроків:
// 1)$ - обовʼязково на початку змінної має буть $
// 2)Одразу пілся $ має бути назва змінної(латинськими малими літерами)
// 2.1) Пілся назви ми маємо поставити :
// 3) Прописати значення яке ми бажаємо покласти в змінну;
// 3.1)Після значення ми маємо написати ;

$color: red;

$main-text: grey;
$second-color: red;
$margin: 30px;

$dollar: 39px;
$accent-color: #2196f3;

$nothing: #ff0000;

// змінні які ми утворюєму у SASS не компілюються а одразу повертають на своє місце значення
// Область бачення = {}

//  Приклад областей бачимості
// мова яку знають в певній країні - наприклад в Україні - українська...
// мова яку знають всі - то є глобальна область бачення(тому-що її знають всі)

$language-global: 'English';

.Ukraine {
  $language-local: 'Ukrainian';
  color: $language-local;
}

.USA {
  content: $language-global;
  color: red;
}
