.header {
  width: 375px;
  // відступи по сторонам
  padding: 20px 15px 0;
  // центрування
  margin: 0 auto;
  // поставив дитячі елементи в рядок
  display: flex;
  // відправив всі ці елементи вправо
  justify-content: end;

  @media screen and (min-width: 992px) {
    width: 1157px;
    padding-right: 30px;
  }
}

.open-menu--button {
  background-color: transparent;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-icon {
  width: 30px;
  height: 18px;
}

.navbar {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.nav-list {
  display: flex;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.nav-item:not(:last-child) {
  margin-right: 33px;
}

.nav-link {
  color: #000;
  text-align: right;
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;

  transition: color 0.3s linear;
}

.nav-link:hover {
  color: #ff6464;
}
