.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;

  background-color: tomato;

  width: 375px;
  height: 100vh;

  transform: translate(0);
  transition: transform 350ms linear;

  padding: 20px 30px;
}

.mobile-menu.is-hidden {
  transform: translate(100%);
}

.close-button {
  display: block;
  width: 30px;
  height: 18px;
  margin-left: 280px;

  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;

  margin-bottom: 10px;
}

.close-menu-icon {
  width: 30px;
  height: 18px;
  @media screen and (min-width: 375px) {
  }
}

.mobile-nav-list {
}
.mobile-nav-item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;

  color: #212121;
}

/* Значимість цих проблем настільки очевидна, що реалізація планових завдань. */
/* Значимість цих проблем настільки очевидна, що реалізація планових завдань. */

/* Так само консультація з широким активом значною мірою зумовлює. */
