.projects {
  padding-top: 150px;
  padding-bottom: 185px;
}

.projects-text-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 104px;
}

.projects-heading {
  width: 325px;

  color: #4d533c;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;

  margin-right: 133px;
}

.projects-text {
  width: 518px;

  color: rgba(33, 56, 66, 0.6);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.img-wrapper {
  position: relative;
}

.project-list {
}

.project-item {
  display: flex;
}
.project-item.reverse {
  flex-direction: row-reverse;
}

.project-review-box {
  width: 453px;
  border-radius: 8px;

  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);

  padding: 30px;
  position: absolute;
  right: -20%;
  bottom: -30%;
}

.project-review {
  width: 390px;

  color: rgb(77, 83, 60);
  font-family: Poppins;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;

  margin-bottom: 25px;
}

.project-review-person {
  display: flex;
  align-items: center;
}

.project-person {
  width: 46px;
  height: 46px;
  display: block;
  margin-right: 15px;
  background-color: transparent;

  box-shadow: 20px 25px 43px 0px rgba(0, 0, 0, 0.18);
}

.person-name {
  color: rgb(77, 83, 60);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.person-job {
  color: rgb(21, 41, 52);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.project-img {
}
