.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: darkcyan;
  // include - включати в себе
  @include borderPlus(1px, solid, red);

  // &= .header  header;
}

// той самий код на CSS
.nav {
  display: flex;
  justify-content: center;
  @include borderPlus(10px, dashed, tomato);
}

.nav-list {
  display: flex;
  justify-content: center;
  @include borderPlus(5px, dotted, crimson);
}

.nav-link {
  color: red;
  cursor: pointer;
  @include main-text(24px, 700);
}

.nav-link:hover {
  color: wheat;
}

.nav-link--main {
  // Щоб використати міксин (динамічний шаблон) треба використовувати директиву @include
  @include main-text(30px, 900);
}

.nav-item:not(:last-child) {
  margin-right: $dollar;
}

// Той самий код на SCSS
// .nav {
//   display: flex;
//   justify-content: center;
//   //& = nav
//   &-list {
//     display: flex;
//     justify-content: center;
//   }
//   // & =  nav
//   &-item:not(:last-child) {
//     margin-right: 30px;
//   }
//   //  & = nav
//   &-link {
//     color: red;
//     cursor: pointer;
//     //&  = nav-link
//     &:hover {
//       color: wheat;
//     }
//     &--main {
//       color: green;
//     }
//   }
// }
