$bla: 20px;
.section {
  width: 1px;
}

.blablabla {
  $bla: 40px;
  margin: $bla;
  // Ця змінна існує тільки у класі blablabla
}

// Область бачення є глобальна = коли змінна доступна у всіх селекторах(У кожному css правилі)
// Область бачення селекторна ({}) = Змінні які ви утворите всередені фігурних дужок({}) будуть доступні лише в середені цих фігурних дужок

// Область бачимості це одні фігурні дужки {}
.lalala {
  margin-right: $bla;
}
