.container {
  // обмежуємо розмір коробки,щоб заборонити розширення контенту який зберігається всередені контейнеру
  width: 480px;
  //
  padding: 0 15px;
  // центрування контенту по центру екрану
  margin: 0 auto;
  // screen - перевірка на кольоровицй екран
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
